.navContainer {
  width: 100%;
  height: auto;
  background-color: #c80672;
  display: flex;
  padding: 10px;
  position: fixed;
  z-index: 99;
}
.logo {
  width: 200px;
  height: auto;
  margin-left: 50%;
}
#navlinks {
  display: flex;
  margin-left: 35%;
  margin-top: 1%;
}
.home-link,
.about-link,
.coach-link,
.contact-link {
  text-decoration: none;
  color: white;
  margin-left: 5%;
  font-size: 13px;
}
.dropdown-container h3 {
  width: 200px;
  margin-left: 20px;
  margin-top: 18px;
}
.menu {
  text-decoration: none;
  color: white;
  margin-left: 5%;
  font-size: 10px;
}
.dropdown-menu {
  background-color: rgba(128, 128, 128, 0.527);
  width: 100px;
  padding-bottom: 5px;
  margin-left: 15px;
}
.button {
  margin-top: -15px;
  margin-left: -10px;
}
h6 {
  color: white;
  background: rgb(198, 131, 6);
  background: linear-gradient(
    180deg,
    rgba(198, 131, 6, 1) 0%,
    rgba(196, 112, 223, 1) 100%
  );
  padding: 10px;
  border-radius: 10px;
  width: 70px;
}

@media (max-width: 768px) {
  .navContainer {
    padding: 5px;
  }
  .logo {
    width: 80px;
    margin-left: 20%;
    margin-top: 10px;
  }
  #navlinks {
    display: flex;
    margin-left: 7%;
    margin-top: 1%;
  }
  .home-link,
  .about-link,
  .coach-link,
  .contact-link {
    font-size: 5px;
    margin-top: 10px;
    margin-left: 3%;
  }
  .button {
    /* margin-top: -15px; */
    /* margin-left: -10px; */
  }
  h6 {
    padding: 10px;
    font-size: 5px;
    width: 100px;
  }
  .dropdown-container h3 {
    width: 20px;
    margin-left: 10px;
    margin-top: 15px;
    font-weight: 700;
  }
}
